{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="d-flex justify-content-center">
    <div class="blog-borrow p-3 mt-5">
        <div class="row">
            <div class="col-md-3 text-center">
                <img src="{% static 'user.png' %}" class="rounded-circle" width="90%">
            </div>
            <div class="col-md-9">
                <p class="h4 m-3">Name: {{ user.first_name }} {{ user.last_name }}</p>
                <p class="h5 m-3">Email: {{ user.email }}</p>
                <p class="h5 m-3">IDCard: {{ useridcard.idcard }}</p>
                <p class="h5 m-3">Username: {{ user.username }}</p>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <div class="blog-profile p-5 mt-5 mb-5">
        <p class="h2 font-weight-bolder my-4">List Borrow Book</p>
        <hr>
        <div class="row">
            {% for bk in book %}
            <div class="col-sm-4 mb-5">
                <div class="card shadow rounded mt-3 mb-5 text-center">
                    <img class="card-img-top" src="{{ bk.book_isbn.img_book.url }}" alt="Card imagecap"
                        style="width: 100%;">
                    <div class="card-body d-flex flex-column">
                        <p class="h4 font-weight-bold card-title">{{bk.book_isbn.name_book}}</p>
                        <hr>
                        <a href="{% url 'return_book' bk.id %}"
                            class="btn btn-outline-primary mt-auto text-center">RETURN</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}