{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="d-flex justify-content-center">
	<div class="blog-borrow my-5">
		<div class="test p-4 bg-dark rounded">
			<p class="h1 text-center text-light">BORROWING</p>
		</div>
		<div class="text-center my-5">
			<img class="mb-4" src="{{computer.img_com.url}}" style="width: 50%;">
			<p class="h3">{{computer.name_com}}</p>
		</div>
		<form method="POST">
			{% csrf_token %}
			<div class="container" style="padding-left: 5%; padding-right: 5%;">
				<div class="form-row">
					<div class="form-group col-md-12">
						{{form}}
						{{ request.user.username }}
					</div>
				</div>
				<button type="Submit" class="btn btn-lg btn-block px-4 mb-5 shadow-lg mr-2 text-light"
					style="background-color: #00adb5;">BORROW</button>
			</div>
		</form>
	</div>

	<!-- <div class="col-md-6 col-sm-6 col-xs-12">
		<div class="row">
			<div class="full">
				<div class="right-match-time">
					<h2>Next Match</h2>
					<ul id="countdown-1" class="countdown">
						<li><span id="days"></span>Day </li>
						<li><span id="hours"></span>Hours </li>
						<li><span id="minutes"></span>Minutes </li>
						<li><span id="seconds"></span>Seconds </li>
					</ul>
				</div>
			</div>
		</div>
	</div> -->

</div>
{% endblock %}