{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="d-flex justify-content-center">
	<div class="blog-borrow mt-5 mb-5">
		<div class="card bg-light rounded">
			<div class="card-header border-0 text-center">
				<h4>Purchase confirmation</h4>
			</div>
			<div class="card-body">
				<div class="card mb-5 bg-white border-0">
					<div class="card-header border-0">
						<h5 class="ml-3">Product - Purchase TEST</h5>
						<hr>
						<div class="card-body">
							<p class="card-title text-left mr-4 text-muted">Item<label
									class="float-right text-muted">TEST</label></p>
							<p class="card-title text-left mr-4 text-muted">Transaction number<label
									class="float-right text-muted">TEST</label></p>
							<p class="card-title text-left mr-4 text-muted">Transaction date<label
									class="float-right text-muted">TEST</label></p>
							<p class="card-title text-left mr-4 text-muted">Merchant<label
									class="float-right text-muted">TEST</label></p>
							<p class="card-title text-left mr-4 text-muted">Serial<label
									class="float-right text-muted">TESR</label></p>
						</div>
						<div class="card-footer">
							<p class="card-title text-left mr-4 text-dark">Order Total<label
									class="float-right text-muted">1000 THB</label></p>
						</div>
					</div>
				</div>
				<p class="card-title text-center mt-5 text-muted">Thank you for using Auto-Library!</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}