{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="d-flex justify-content-center">
	<div class="container">
		<div class="card text-white bg-dark mb-3 ml-5 border-0">
			<div class="card-header border-0 p-5">
				<h4>Complete Purchase</h4>
			</div>
			<div class="card-body p-5">
				<p class="card-title text-left mr-4 h5 text-light">Purchase Summary<label
						class="float-right text-light">Quantity</label></p>
				<hr>
				<div class="row">
					<p class="col-10 h4 text-white text-right">Total including VAT</p>
					<p class="col-2 h4 text-white text-center">100 $</p>
				</div>
				<hr>
				<div class="container">
					<form action="#" method="POST">
						{% csrf_token %}
						<div class="card bg-light mt-2">
							<div class="card-header border-0 text-dark">
								<h4>Payment Method</h4>
							</div>
							<input type="hidden" name="price" value="">
							<div class="card-body">
								<div class="card bg-white my-2 game-item">
									<div class="card-body">
										<label class="form-check">
											<input class="form-check-input" type="radio" name="payment" value="PayPal"
												checked>
											<span class="form-check-label text-secondary h5">
												<img class="mx-3" src="{% static 'paypal.png' %}" width="25px" height="25px">
												PayPal
											</span>
										</label>
									</div>
								</div>
								<div class="card bg-white my-2 game-item">
									<div class="card-body">
										<label class="form-check">
											<input class="form-check-input" type="radio" name="payment"
												value="Visa/Mastercard">
											<span class="form-check-label text-secondary h5">
												<img class="mx-3" src="{% static 'visa.jpg' %}" width="50px" height="25px">
												<img class="mx-3" src="{% static 'mastercard.png' %}" width="50px" height="25px">
												Visa/Mastercard
											</span>
										</label>
									</div>
								</div>
								<div class="card bg-white my-2 game-item">
									<div class="card-body">
										<label class="form-check">
											<input class="form-check-input" type="radio" name="payment"
												value="Credit/Debit Card">
											<span class="form-check-label text-secondary h5">
												<img class="mx-3" src="{% static 'credit-card.png' %}" width="30px" height="25px">
												Credit/Debit Card
											</span>
										</label>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-12 text-right">
									<button type="submit" name="button" class="btn btn-primary mx-3 my-3">Complete
										Purchase</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}